/* horizontal color gradient for header */
/* // Horizontal gradient, from left to right */
/* // Creates two color stops, start and end, by specifying a color and position for each color stop. */

.text-color-white {
    color: white;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}